* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/rubik/Rubik-VariableFont_wght.ttf");
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 70;
}

.header-container {
  max-width: 1920px;
  margin: 0 auto;
}

.nav__list {
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: auto 1vw;
  gap: 1.2vw;
  background-color: black;
}

.nav__list .nav-list__item {
  display: inline-block;
  text-decoration: none;
  color: #7FFF00;
  letter-spacing: 0.05em;
  font-size: 1vw;
  font-family: "Rubik";
  transition: 0.3s;
}

.nav__list .nav-list__item:hover {
  color: white;
  transform: scale(1.08);
  filter: blur(0px);
}

.lang-change__button {
  text-decoration: none;
  color: #7FFF00;
  letter-spacing: 0.05em;
  font-size: 1vw;
  font-family: "Rubik";
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.2vw;
  transition: 0.3s;
}

.lang-change__button:hover {
  color: white;
}

.footer {
  width: 100%;
  background-color: black;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1920px;
  height: 2.5vw;
  color: #7FFF00;
  font-family: "Rubik";
  letter-spacing: 0.05vw;
  font-size: 1.1vw;
  font-weight: 550;
  margin: 0 auto;
}

.footer__container a {
  text-decoration: none;
  color: #7FFF00;
  transition: 0.3s;
}

.footer__container a:hover {
  color: #ffffff;
}